.main {
    padding: 11rem 2rem 2rem 2rem;
  }
  
  .gap-larger {
    gap: 3rem;
  }
  
  .alert-text {
    margin: 2rem 0;
    text-align: center;
  }

  .loading-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 1.5rem;
    font-weight: bold;
    color: #333; 
  }